---
// assets
import "../styles/global.css";

// components
import BaseHead from "../components/global/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
---


<html lang="en">
	<BaseHead />
	<body>
		<main>
            <h1>Astro Portfolio Starter Kit</h1>
        </main>
        <Footer />
	</body>
</html>
